{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>

<div class="card">
    <h2>Profiel</h2>

    <p><strong>Ingelogd als:</strong> {{ user.username }}</p>
    <p><strong>Rol:</strong> {{ user.role.value }}</p>

    {% if user.role == "consultant" %}
        <p><strong>Naam:</strong> {{ profile.display_name_masked }}</p>
        <p><strong>Locatie:</strong> {{ profile.location_city }} , {{ profile.country }}</p>
        <p><strong>Opmerking:</strong> {{ profile.headline or "Geen headline" }}</p>

        <p><strong>Skills:</strong>
            {% if profile.skills %}
                {{ profile.skills | map(attribute='name') | join(', ') }}
            {% else %}
                Geen skills geselecteerd
            {% endif %}
        </p>

        <a class="btn" href="{{ url_for('main.edit_consultant_skills') }}">Skills aanpassen</a>
        <a class="btn" href="{{ url_for('main.dashboard') }}">Profiel aanpassen</a>
    {% endif %}

    {% if user.role == "company" %}
        <p><strong>Bedrijfsnaam:</strong> {{ company.company_name_masked }}</p>
        <p><strong>Sector:</strong> {{ company.industry or "Niet ingevuld" }}</p>

        <a class="btn" href="{{ url_for('main.job_new') }}">Nieuwe job posten</a>
        <a class="btn" href="{{ url_for('main.jobs_list') }}">Mijn job posts</a>
    {% endif %}
</div>
{% endblock %}
