{% extends "base.html" %}
{% block title %}Edit Job{% endblock %}

{% block content %}

<h1 class="page-title">Edit Job</h1>

<div class="form-card">
    <form method="POST" class="job-edit-form">
       
        <label>Titel</label>
        <input type="text" name="title" value="{{ job.title }}" required>

        <label>Edit Job</label>
        <textarea name="description" rows="5">{{ job.description }}</textarea>

        <label>Location -city</label>
        <input type="text" name="location_city" value="{{ job.location_city }}">

        <label>Location — country</label>
        <input type="text" name="country" value="{{ job.country }}">

        <label>Contracttype</label>
        <input type="text" name="contract_type" value="{{ job.contract_type }}">

        <label>Skills</label>
        <div class="skills-box">
            {% for s in skills %}
                <label class="skill-checkbox">
                    <input
                        type="checkbox"
                        name="skills"
                        value="{{ s.id }}"
                        {% if s in job.skills %}checked{% endif %}
                    >
                    {{ s.name }}
                </label>
            {% endfor %}
        </div>

        <button class="btn-primary" type="submit">Save</button>
        <a href="{{ url_for('main.job_detail', job_id=job.id) }}" class="btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}
