{% extends "base.html" %}
{% block title %}{{ _("Login") }}{% endblock %}

{% block content %}
  <h1>{{ _("Login (MVP)") }}</h1>

  <form method="post">
    <label>{{ _("Username") }}</label>
    <input name="username" required>

    <label>{{ _("Rol") }}</label>
    <select name="role">
      <option value="consultant">{{ _("consultant") }}</option>
      <option value="company">{{ _("company") }}</option>
    </select>

    <button class="btn" type="submit">{{ _("Inloggen") }}</button>
  </form>

{% endblock %}
